
<div class="landingGrid">
    <mat-card class="moduleLink" (click)="navigateRoute('preEmpScreening')"><p>Pre Employment Screening</p></mat-card>
    <mat-card class="moduleLink" (click)="navigateRoute('monthlyEmpScreening')"><p>Monthly Employee Screening</p></mat-card>
    <mat-card class="disableItem"><p>Accredilink Verified Organization</p></mat-card>
    <mat-card class="disableItem"><p>Accredilink Match</p></mat-card>
    <mat-card class="disableItem"><p>Full Background Checks</p></mat-card>

</div>


