  <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span> 
      <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
    </span>
    <h3 (click)=navigateRoute() class="title">Accredilink - Health</h3>
    <span class="example-spacer"></span>
    <span *ngIf="!authService.getLoginState()">
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/register">Register</button>
    </span>
    <span *ngIf="authService.getLoginState()">
      
      <button mat-button (click)="logout()">Logout</button>
      </span>
  </mat-toolbar-row>

</mat-toolbar>
<div style="display:flex">
<div *ngFor="let item of breadcrumbs;last as last" style="padding-left:8px;padding-top:15px;display: flex">
  <p style="font-size:18px;cursor:pointer" class="breadcrumb" routerLink={{item.path}}>{{item.name}}</p>
  <mat-icon *ngIf="!last" style="margin-top:2px;margin-left:5px">keyboard_arrow_right</mat-icon>
</div></div>
<router-outlet></router-outlet>